* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 45%;
    transition: all 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
}

#Fondo {
    background-image: url(../../Images/niñaMamá.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

header h1 {
    margin-top: 10px;
    font-size: x-large;
}

header h2 {
    font-size: medium;
}

.header {
    color: #0099D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

main {
    margin: 10px;

    &>section {
        padding: 10px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, .6) 0px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        transition:  .8s ease;

        &>article {
            margin: 10px;
            padding: 10px;

            &>ul li {
                margin: 10px;
            }

        }
        &>figure img{
            width: 350px;
        }

        &:hover {
            background: #552fec;
            color: #fff;
            transform: scale(1.02);
        }
    }


    &>div {
        padding: 10px;
        text-align: center;
    }
}

footer {
    width: 100%;
    background: #0099D9;
    color: white;
    padding: 20px;
}

.final {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.integrantes {
    margin: 10px;
}

@media (max-width: 800px) {
    #Fondo {
        height: 25vh;
    }

    main section {
        flex-direction: column;
        margin: 10px;
    }
}